.bg-dark {
  background-color: #8e210b!important;
}
.navbar-brand{
  margin-left: 15px!important;
}
.contenitore {
  width: 50%;
  margin: auto;

  h2 {
    font-size: 20px;
    color: rgb(44, 217, 44)
  }

  .paragrafo {
    background-color: greenyellow;
  }
}
