<app-header></app-header>

<!-- <div class="contenitore">
  <h2>App di esempio</h2>
  <p class="paragrafo">Nome del cliente {{nome}} {{telefono}}</p>
  <br>ecco i nostri clienti:
  <ul *ngFor="let cliente of clienti">
    <li>Nome: {{cliente}}</li>
  </ul>
</div>
<div id="contenitore" [ngSwitch]="colore">
  <div *ngSwitchCase="'red'" style="background-color: red">Valore di colore ROSSO</div>
  <div *ngSwitchCase="'green'" style="background-color: green">Valore di colore VERDE</div>
  <div *ngSwitchCase="'yellow'" style="background-color: yellow">Valore di colore GIALLO</div>
  <div *ngSwitchDefault style="background-color: grey">Nessun valore</div>
</div>
<div style="text-align: center" *ngIf="!accetto">
  <button class="btn btn-danger" (click)="onChangeAccetto()">ACCETTO</button>
</div>
<div  [ngClass]="accetto === true ? 'accettoAcceso' : 'accettoSpento' ">
  ciao a tutti
</div>-->

<router-outlet></router-outlet>

<footer>ECCO IL FOOTER</footer>
