
.contenitore {
  margin: auto;

  h2 {
    font-size: 20px;
    color: rgb(44, 217, 44)
  }

  .paragrafo {
    background-color: greenyellow;
  }
}


.accettoSpento {
  height: 60px;
  text-align: left;
  font-size: 10px;
  background-color: gray;
}

.accettoAcceso {
  height: 200px;
  text-align: center;
  font-size: 20px;
  background-color: rgb(234, 176, 0);
}
