section {
  width: 90%;
  margin: auto;
  margin-top: 30px;
  h2 {
    font-family: 'Homemade Apple', cursive;
  }
  strong {
    background: #8e210b;
    padding: 10px;
    position: absolute;
    color: white;
    /* float: right; */
    right: 0px;
    top: 62px;
    padding-left: 51px;
    padding-top: 15px;
    border-radius: 21px 0px 0px 21px;
}
}
